EXPO_PUBLIC_API_URL=https://l-art-de-la-vie.onrender.com/api
EXPO_PUBLIC_SUPABASE_URL=https://TU_PROYECTO.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=TU_LLAVE_PUBLICA
EXPO_PUBLIC_WHATSAPP_NUMBER=50400000000
EXPO_PUBLIC_AUTH_REDIRECT_URL=https://l-art-de-la-vie-knyu.vercel.app/auth/confirmed
